@(form: Form[_])

@import helper._
@import helper.twitterBootstrap._
@import com.feth.play.module.pa.controllers

@main(Messages("space.title"), "space") {
	<h1>@Messages("space.title")</h1>
	<h2>@Messages("space.create")</h2>
	
	@helper.form(action = routes.Parking.createMany(), 'class -> "form-horizontal") {
		
		<br>
		<div class="container">
			<label for="num">Number of spaces:</label>
			<input type="number" value="1" name="num" min="1" max="100" style="width: 50px; margin-right: 5px;"/>
			<button type="submit" class="btn btn-sm btn-success">@Messages("app.create")</button>
		</div>
		
		<br>
		<a href="@routes.Parking.manager()" class="btn btn-default"><i class="glyphicon glyphicon-circle-arrow-left"></i> @Messages("space.manager")</a>
	}
}