@(spaceForm: Form[_], neighbors: List[Space], spaceId: Long)

@import helper._

@import com.feth.play.module.pa.controllers

@main(Messages("space.title"), "space") {
	<h1>@Messages("space.title")</h1>
	<h2>@Messages("space.edit")</h2>
	
	@if(spaceForm.hasGlobalErrors) {
		<p class="alert alert-danger">
			@spaceForm.globalError.message
		</p>
	 }
        	
	@helper.form(action = routes.Parking.update(spaceId),
		'id -> "spaceForm", 
		'class -> "form-horizontal") {
		<script>
			var spaceId = @spaceId;
			
			var deleteNeighbor = function deleteNeighbor(el) {
				form = $('#spaceForm');
				
				var neighbor = $(el).parent().data().id;
				var url = '/space/deleteneighbor/' + spaceId + '/' + neighbor;
				
				$.get(url, function() {
					location.reload();
				});
				event.preventDefault();
			}
		</script>
		
		<br>
		<div class="container">
			<label for="neighborId">@Messages("space.addNeighbor")&#58;</label>
			<input type="number" value="0" name="neighborId" min="0" max="100" style="width: 50px; margin-right: 5px;"/>
			<button type="submit" class="btn btn-sm btn-success">@Messages("app.add")</button>
		</div>
		
		<br>
		<h3>@Messages("space.neighbors")</h3>
		<div class="list-group container-grid" style="display: block; float: left; height: auto; width: 100%;">
			@for(values <- neighbors) {
				<a href="javascript:;"
					class="list-group-item col-xs-12 col-sm-2 choices"
					data-id="@values.getId()">
					<span onclick="deleteNeighbor(this);" class="badge btn btn-danger">Delete</span>
					@Messages("space.label")&#58; @values.getId()
				</a>
			}
		</div>
		
		<br>
	
	}
	<a href="@routes.Parking.manager()" class="btn btn-default"><i class="glyphicon glyphicon-circle-arrow-left"></i> Manager</a>
}