@(spaces: List[Space])

@import helper._
@import com.feth.play.module.pa.controllers

@main(Messages("space.title"), "space") {
    
    <h1>@Messages("space.title")</h1>
    <h2>@Messages("space.config")</h2>
    
	<div class="alert alert-info alert-dismissible" role="alert">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  <strong>Little tip!</strong> The number inside the circle in each element, it's the number of registered neighbors
	</div>    
    
    <script type="text/javascript">
		var selectedSpace = null;
    
		var selectSpace = function selectSpace(el) {
			selectedSpace = el;
			$(el).siblings().removeClass("active");
			$(el).addClass('active');
			$('#edit').attr("href", "/space/edit/" + selectedSpace.dataset.id);
			$('#space').val(el.dataset.id);
		}
    </script>

	<div class="list-group container-grid" style="display: block; float: left; height: auto; width: 100%;">
		@for(values <- spaces) {
			<a href="javascript:;"
				class="list-group-item col-xs-12 col-sm-2 choices"
				onclick="selectSpace(this);"
				data-id="@values.getId()">
				<span class="badge">@values.countNeighbors()</span>
				@Messages("space.label")&#58; @values.getId()
			</a>
		}
	</div>
	
	<input type="hidden" id="space" name="space.id" />
	
	<div class="progress" style="float:left; width: 100%;">
	  <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
	    <span class="sr-only">40% Complete (success)</span>
	  </div>
	</div>
	
	<br>
	<a href="@routes.Parking.create()" class="btn btn-default">@Messages("space.create")</a>
	<a href="javascript:;" id="edit" class="btn btn-success" style="float: right;">@Messages("space.editSelectedSpace")</a>		
}
