
@main(Messages("playauthenticate.index.title")) {
	<style>
		.japp-logo {
			float: right;
			padding: 15px;
		    font-size: 100px;
		    opacity: 0.4;
		    filter: alpha(opacity=40);
       		z-index: 1;
       	}
	</style>

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>@Messages("app.title")<i class="glyphicon glyphicon-road japp-logo"></i></h1>
        <p>@Messages("app.intro")<br/>Check the topics below to know how to use me.</p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-xs-6 col-sm-4">
          <h2>Get started!</h2>
          <ul>
          	<h3>Configuration process:</h3>
          	<li>Create spaces</li>
          	<li>Configure they neighbors</li>
          	<h3>Usage:</h3>
          	<li>Go ahead using the manager &#59;D</li>
          </ul>
        </div>
        <div class="col-xs-6 col-sm-4">
          <h2>Did you found a bug?</h2>
          <p>If you had found a bug, please let me know, sending an e-mail to <a href="developer&#64;japp.solution">developer&#64;japp.solution</a>
          	or opening an issue at bitbucket.com.
          </p>
          <p><a class="btn" href="https://bitbucket.org/leonardo_pmascarenhas/japp"><i class="glyphicon glyphicon-tasks" style="padding-right: 5px;"></i>&#32;Bitbucket repository</a></p>
        </div>
      </div>
    }
