@(signupForm: Form[_])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }

@main(Messages("playauthenticate.signup.title"),"signup") {

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
      <h1>@Messages("playauthenticate.signup.title")</h1>
    </div>
  </div>

  <div id="signup" class="container">

    <div class="col-xs-12">
        @* Display proprietary login form *@
    	@helper.form(routes.Application.doSignup, 'role -> "form") {
	        @if(signupForm.hasGlobalErrors) {
	     		<p class="alert alert-danger">
	       			@signupForm.globalError.message
				</p>
			}
	
	        @inputText(
	           signupForm("name"),
	           '_label -> Messages("playauthenticate.signup.name")
	        )
	
	        @_emailPartial(signupForm)
	        
			</br>
			@_passwordPartial(signupForm)
			
			</br>
			<button type="submit" class="btn btn-default">@Messages("playauthenticate.signup.now")</button>
    	}
    </div>

  </div>

}
